.listing {
    padding: 30px;
    margin: auto
}

.center {
    text-align: center
}

.alignImg {
    margin-left: 150px;
}


    img {
        width: 80%;
        margin: auto;
        display: block;
        padding: 20px;
      }
